.custom-input {
  width: 100%;
}
  
  .form-control:hover {
    border-color: #e4b51a; 
  }
  
  .form-control:focus {
    border-color: #e4b51a;
    border-width: 2px;
  }

  .container {
    max-width: 800px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .text-danger {
    font-size: 0.875em;
    margin-top: 5px;
  }
  
  .fra {
    margin-bottom: 5rem;
  }

  