    <body>
      <div class="container d-flex align-items-center justify-content-center vh-100">
        <div class="col-md-10">
          <div class="row align-items-center">
            <div class="col-lg-3"> 
              <img src="assets/micoleao1.png" class="img-fluid"/> 
            </div>
            <div class="col-lg-7">
              <h2 class="text-center mb-3">Cadastre-se</h2>
              <form>
                <div class="form-group mb-1">
                  <label for="email">Nome Completo</label>
                  <input class="form-control" type="text" name="nomeCompleto" id="nomecompleto"/>
                </div>
                <div class="form-group mb-1">
                  <label for="email">E-mail</label>
                  <input class="form-control" type="email" name="email" id="email" />
                </div>
                <div class="form-group mb-1">
                  <label for="email">CPF</label>
                  <input class="form-control" type="number" name="CPF" id="CPF" />
                </div>
                <div class="form-group mb-1">
                  <label for="email">Telefone</label>
                  <input class="form-control" type="number" name="telefone" id="telefone" />
                </div>
                <div class="form-group mb-1">
                  <label for="email">Senha</label>
                  <input class="form-control" type="password" name="senha" id="senha" />
                </div>
                <div class="form-group mb-4">
                  <label for="password">Confirmar Senha</label>
                  <input class="form-control" type="password" name="confirmarSenha" id="confirmarSenha" />
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <button type="submit" class="btn btn-warning btn-block col-9">Cadastrar</button>
                  </div>
                  <div class="col-lg-6">
                    <p class="mt-0">Ao preencher o formulário acima, você concorda com os nossos termos de uso e nossa política de acesso.</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </body>