/* body{
    background: linear-gradient(to right, #f1eedb, #f3ea9c);
  } */

  .form-control:hover {
    border-color: #e4b51a; 
  }
  
  .form-control:focus {
    border-color: #e4b51a;
    border-width: 2px;
  }