<app-menu></app-menu>
<body>
  <div class="container d-flex align-items-center justify-content-center vh-50">
    <div class="col-md-8">
      <div class="text-center mb-2">
        <img src="assets/micoleao1.png" class="img-fluid"/>
      </div>
      <h2 class="text-center mb-3">Esqueceu a senha?</h2>
      <form [formGroup]="esqueceusenhaForm">
        <div class="form-group mb-2">
          <label for="email">E-mail</label>
          <input class="form-control" type="email" name="email" id="email" formControlName="email" />
          <div class="text-danger" *ngIf="esqueceusenhaForm.get('email')?.errors?.['required'] && (esqueceusenhaForm.get('email')?.dirty || esqueceusenhaForm.get('email')?.touched)">
            E-mail é requerido
          </div>
          <div class="text-danger" *ngIf="esqueceusenhaForm.get('email')?.errors?.['email'] && (esqueceusenhaForm.get('email')?.dirty || esqueceusenhaForm.get('email')?.touched)">
            E-mail em formato inválido
          </div>
        </div>
        <button type="submit" class="btn btn-warning btn-block col-12 mb-2">Enviar e-mail</button>
      </form>
    </div>
  </div>
</body>
<app-footer></app-footer>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    