<app-menu></app-menu>
  <header class="bg-warning py-1 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-3">
          <img src="assets/micoleao3.png" class="img-fluid"/>
        </div>
        <div class="col-lg-9">
          <h1 class="display-6 text-black mt-2 mb-2">Micopom</h1>
          <p class="lead mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
      </div>
    </div>
  </header>
  
  
  <!-- <div class="container mt-3">
    <div class="row">
      <div class="col-lg-2 mb-2">
        <button class="btn btn-warning btn-block">Todos</button>
      </div>
      <div class="col-lg-2 mb-2">
        <div class="dropdown">
          <button class="btn btn-warning dropdown-toggle btn-block" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </button>
          <ul class="dropdown-menu" aria-labelledby="categoryDropdown"> -->
            <!-- <li *ngFor="let categoria of categorias">
              <a class="dropdown-item">{{ categoria.nome }}</a>
            </li> -->
          <!-- </ul>
        </div>
      </div>
      <div class="col-lg-2 mb-2">
        <div class="dropdown">
          <button class="btn btn-warning dropdown-toggle btn-block" type="button" id="priceDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Preço
          </button>
          <ul class="dropdown-menu" aria-labelledby="priceDropdown">
            <li><a class="dropdown-item">Menor preço</a></li>
            <li><a class="dropdown-item">Maior preço</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 mb-2">
        <div class="dropdown">
          <button class="btn btn-warning dropdown-toggle btn-block" type="button" id="discountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Desconto
          </button>
          <ul class="dropdown-menu" aria-labelledby="discountDropdown">
            <li><a class="dropdown-item">Maior desconto</a></li>
            <li><a class="dropdown-item">Menor desconto</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 mb-2">
        <div class="dropdown">
          <button class="btn btn-warning dropdown-toggle btn-block" type="button" id="dateDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Data
          </button>
          <ul class="dropdown-menu" aria-labelledby="dateDropdown">
            <li><a class="dropdown-item">Mais recentes</a></li>
            <li><a class="dropdown-item">Mais antigos</a></li>
          </ul>
        </div>
      </div>
    </div> -->
  <!-- </div> -->

  <div class="container mt-3">
    <div class="card p-3">
      <div class="row">
        <div class="col-lg-3 mb-2">
          <div class="input-group">
            <span class="input-group-text bg-warning text-dark">Categorias</span>
            <select class="form-select" aria-label="Categoria">
              <option selected>Todos</option>
              <!-- <option *ngFor="let categoria of categorias">{{ categoria.nome }}</option> -->
            </select>
          </div>
        </div>
        <div class="col-lg-3 mb-2">
          <div class="input-group">
            <span class="input-group-text bg-warning text-dark">Preço</span>
            <select class="form-select" aria-label="Preço">
              <option selected>Todos</option>
              <option>Menor preço</option>
              <option>Maior preço</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 mb-2">
          <div class="input-group">
            <span class="input-group-text bg-warning text-dark">Desconto</span>
            <select class="form-select" aria-label="Desconto">
              <option selected>Todos</option>
              <option>Maior desconto</option>
              <option>Menor desconto</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 mb-2">
          <div class="input-group">
            <span class="input-group-text bg-warning text-dark">Data</span>
            <select class="form-select" aria-label="Data">
              <option selected>Todos</option>
              <option>Mais recentes</option>
              <option>Mais antigos</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-3 mb-2">
          <button class="btn btn-warning w-100">Aplicar Filtros</button>
        </div>
        <div class="col-lg-3 mb-2">
          <button class="btn btn-secondary w-100">Limpar Filtros</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <div class="container main-container">
    <div class="row text-center">
      <div class="search-container">
        <input
          type="text"
          placeholder="Buscar itens..."
          [(ngModel)]="searchTerm"
          (keydown.enter)="onSearch()"
        />
        <button (click)="onSearch()">Buscar</button>
      </div> -->
      <div class="grid-container">
        <app-cupom *ngFor="let cupom of cupons" [cupom]="cupom"></app-cupom>
      </div>            
    <!-- </div>
  </div> -->

  
  <app-footer></app-footer>
  <!-- Fim Content -->
  
