.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15em);
    grid-gap: 20px; 
    padding: 1em;
    width:100%;
    justify-content: center;
  }

.x{
  display:flex;
  align-items: center;
  justify-content: center;
}

  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .input-group-text {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .form-select {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .btn {
    border-radius: 10px;
  }

