<!-- <header class="bg-warning py-5 mb-5">
    <div class="container h-100">     
      <div class="row h-100 align-items-center">
        <div class="col-lg-2">
          <img src="assets/micoleao3.png"/>
        </div>
        <div class="col-lg-10">
          <h1 class="display-6 text-black mt-5 mb-2">Micopom</h1>
          <p class="lead mb-10 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
      </div>
    </div>
  </header> -->
  <app-menu></app-menu>
  <header class="bg-warning py-5 mb-5">
    <div class="container h-100">     
      <div class="row h-100 align-items-center">
        <div class="col-lg-3"> 
          <img src="assets/micoleao3.png" class="img-fluid"/> 
        </div>
        <div class="col-lg-9"> 
          <h1 class="display-6 text-black mt-5 mb-2">Micopom</h1>
          <p class="lead mb-0 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
      </div>
    </div>
  </header>

  
  
  
  
  <div class="container main-container">
    <div class="row text-center">
      <div class="search-container">
        <input
          type="text"
          placeholder="Buscar itens..."
          [(ngModel)]="searchTerm"
          (keydown.enter)="onSearch()"
        />
        <button (click)="onSearch()">Buscar</button>
      </div>
      <div class="grid-container">
        <app-cupom *ngFor="let cupom of filteredItems" [cupom]="cupom"></app-cupom>
      </div>            
    </div>
  </div>
  <app-footer></app-footer>
  <!-- Fim Content -->
  