.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Colunas adaptáveis com largura mínima de 200px */
    gap: 20px; /* Espaço entre os itens da grade */
    padding: 20px; /* Espaçamento interno do contêiner da grade */
  }

  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    width: 100%;
  }
  
  .search-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    transition: border-color 0.3s;
  }
  
  .search-container input[type="text"]:focus {
    border-color: #ffc107;
    outline: none;
  }
  
  .search-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #ffc107;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-container button:hover {
    background-color: #ffe085;
  }
  
  .search-container button:focus {
    outline: none;
  }

  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .input-group-text {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .form-select {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .btn {
    border-radius: 10px;
  }

  .pagination .page-item.active .page-link {
    background-color: #ffc107;
    border-color: #ffc107;
    color: black; 
  }
  
  .pagination .page-link {
    color: #ffc107; 
  }
  
  .pagination .page-link:hover {
    background-color: #ffecb3;
    color: #ffc107; 
  }
  
  .page-item.disabled .page-link {
    cursor: not-allowed;
  }
  
  .page-item .page-link {
    cursor: pointer;
  }

