<app-menu></app-menu>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
        <a class="nav-link" [routerLink]="['/minha-conta']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Meus Dados</a>
        <a class="nav-link" [routerLink]="['/meus-cupons']" routerLinkActive="active">Meus Cupons</a>
        <a class="nav-link" [routerLink]="['/cupons-desconto']" routerLinkActive="active">Cupons de Desconto</a>
        <a class="nav-link" [routerLink]="['/contas-a-pagar']" routerLinkActive="active">Contas a Pagar</a>

      </div>
    </div>
    <div class="col-md-9">
      <div *ngIf="accountsPayable.length === 0" class="alert alert-info text-center">
        <i class="bi bi-info-circle me-2" style="font-size: 1.5rem;"></i>
        Nenhuma conta a pagar cadastrada.
    </div>
  <div class="coupon-card mb-3" *ngFor="let accountPayable of accountsPayable">
    <div class="coupon-details">
      <h5>{{ accountPayable.id_estabelecimento }}</h5>
      <p><strong>Estabelecimento:</strong> {{ accountPayable.no_estabelecimento }}</p>
      <p><strong>Status:</strong> {{ accountPayable.st_conta_a_pagar }}</p>
      <p><strong>Data para pagamento: </strong>{{ accountPayable.dt_vencimento | date:'dd/MM/yyyy' }}</p>
      <p><strong>Total a pagar: </strong>{{accountPayable.total_a_pagar }}</p>
    </div>
  </div>
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" href="#" (click)="changePage($event, currentPage - 1)">Anterior</a>
          </li>
          <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
            <a class="page-link" href="#" (click)="changePage($event, i + 1)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" href="#" (click)="changePage($event, currentPage + 1)">Próxima</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<app-footer></app-footer>
