<app-menu></app-menu>
<div class="container mt-5">
    <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-lg-3 mb-4">
            <img src="assets/micoleao1.png" class="img-fluid" />
          </div>
        </div>
        <div *ngIf="cupomInserido" class="alert alert-success alert-dismissible fade show" role="alert">
          Cupom inserido com sucesso
        </div>
    <h2 style="margin-top: 2%;">Cadastre seu cupom</h2>
    <form [formGroup]="couponForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="couponName">Nome do Cupom</label>
            <input type="text" class="form-control" id="couponName" formControlName="couponName">
            <div *ngIf="couponForm.get('couponName')?.invalid && (couponForm.get('couponName')?.dirty || couponForm.get('couponName')?.touched)" class="text-danger">
              Nome do cupom é requerido.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="originalValue">Valor Original</label>
            <input type="number" class="form-control" id="originalValue" formControlName="originalValue">
            <div *ngIf="couponForm.get('originalValue')?.invalid && (couponForm.get('originalValue')?.dirty || couponForm.get('originalValue')?.touched)" class="text-danger">
              Valor original é requerido.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="cuponQuantity">Quantidade de Cupons</label>
            <input type="number" class="form-control" id="cuponQuantity" formControlName="cuponQuantity">
            <div *ngIf="couponForm.get('cuponQuantity')?.invalid && (couponForm.get('cuponQuantity')?.dirty || couponForm.get('cuponQuantity')?.touched)" class="text-danger">
              Quantidade de cupons é requerido.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="categorylist">Categoria do Cupom</label>
            <select class="form-control" id="categoryList" formControlName="categoryList">
              <option value="" >Selecione...</option>
              <option *ngFor="let Categorias of categorias" value ="{{ Categorias.id_categoria }}">
                {{ Categorias.no_categoria }}
              </option>
            </select>
            <div *ngIf="couponForm.get('categorylist')?.invalid && (couponForm.get('categorylist')?.dirty || couponForm.get('categorylist')?.touched)" class="text-danger">
              Categoria é requerido.
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="establishmentList">Estabelecimento</label>
            <select class="form-control" id="establishmentList" formControlName="establishmentList">
              <option value="" >Selecione...</option>
              <option *ngFor="let Estabelecimento of estabelecimentos" value ="{{ Estabelecimento.id_estabelecimento }}">
                {{ Estabelecimento.no_estabelecimento }}
              </option>
            </select>
            <div *ngIf="couponForm.get('establishmentList')?.invalid && (couponForm.get('establishmentList')?.dirty || couponForm.get('establishmentList')?.touched)" class="text-danger">
              Estabelecimento é requerido.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="shortDescription">Descrição Resumida</label>
            <textarea class="form-control" id="shortDescription" formControlName="shortDescription"></textarea>
            <div *ngIf="couponForm.get('shortDescription')?.invalid && (couponForm.get('shortDescription')?.dirty || couponForm.get('shortDescription')?.touched)" class="text-danger">
              Descrição resumida é requerido.
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="discountValue">Valor Desconto</label>
            <input type="number" class="form-control" id="discountValue" formControlName="discountValue">
            <div *ngIf="couponForm.get('discountValue')?.invalid && (couponForm.get('discountValue')?.dirty || couponForm.get('discountValue')?.touched)" class="text-danger">
              Valor desconto é requerido.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="expirationDate">Data de Validade</label>
            <input type="date" class="form-control" id="expirationDate" formControlName="expirationDate">
            <div *ngIf="couponForm.get('expirationDate')?.invalid && (couponForm.get('expirationDate')?.dirty || couponForm.get('expirationDate')?.touched)" class="text-danger">
              Data de validade é requerido.
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="imageUrl">Upload da Imagem primária</label>
            <input type="file" class="form-control" id="imageUrl" (change)="onMainFileChange($event)" accept="image/png, image/jpeg, image/jpg">
            <div *ngIf="fileError" class="text-danger">
              Arquivo de imagem é requerido.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="imageUrl">Upload de imagens secundarias</label>
            <input type="file" class="form-control" id="imageUrl" (change)="onFileChange($event)" accept="image/png, image/jpeg, image/jpg" multiple>
            <div *ngIf="fileError" class="text-danger">
              Arquivo de imagem é requerido.
            </div>
            <div *ngIf="fileLimitExceeded" class="text-danger">
              Você pode enviar no máximo 3 imagens secundárias
            </div>
          </div>
        </div>

        
      </div>
  
      <div class="form-group">
        <label for="fullDescription">Descrição Completa</label>
        <textarea class="form-control" id="fullDescription" formControlName="fullDescription"></textarea>
        <div *ngIf="couponForm.get('fullDescription')?.invalid && (couponForm.get('fullDescription')?.dirty || couponForm.get('fullDescription')?.touched)" class="text-danger">
          Descrição completa é requerido.
        </div>
      </div>
  
      <button type="submit" class="btn btn-warning">Cadastrar</button>
    </form>
  </div>
  <app-footer></app-footer>
  