.container {
    max-width: 700px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .text-danger {
    font-size: 0.875em;
    margin-top: 5px;
  }

  button.btn.btn-warning {
    margin-bottom: 5rem;
}
  


  