<app-menu></app-menu>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
        <a class="nav-link" [routerLink]="['/minha-conta']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Meus Dados</a>
        <a class="nav-link" [routerLink]="['/meus-cupons']" routerLinkActive="active">Meus Cupons</a>
      </div>
    </div>
    <div class="col-md-9">
      <h2>Meus Cupons</h2>
    </div>
  </div>
</div>
<app-footer></app-footer>
