<app-menu></app-menu>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
        <a class="nav-link" [routerLink]="['/minha-conta']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Meus Dados</a>
        <a class="nav-link" [routerLink]="['/meus-cupons']" routerLinkActive="active">Meus Cupons</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="coupon-card mb-3" *ngFor="let coupon of coupons">
        <div class="coupon-details">
          <h5>{{ coupon.name }}</h5>
          <p><strong>Valor:</strong> {{ coupon.value }}</p>
          <p><strong>Data de compra:</strong> {{ coupon.purchaseDate }}</p>
          <p><strong>Data de validade:</strong> {{ coupon.expiryDate }}</p>
        </div>
        <div class="coupon-status">
          <span [ngClass]="{
              'badge-success': coupon.status === 'Disponível',
              'badge-secondary': coupon.status === 'Utilizado',
              'badge-danger': coupon.status === 'Vencido',
              'badge-warning': coupon.status === 'Aguardando Pagamento',
            }">
            {{ coupon.status }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
