<!-- <div class="cupom" (click)="navigateToDetail(cupom.id_cupom)">
    <img [src]="'http://ec2-18-224-64-194.us-east-2.compute.amazonaws.com:3001/api/assets/uploads/' + cupom.url_imagem" alt="Logo do Estabelecimento" style="width: 100px; height: auto; margin-bottom: 10px;">
    <h2>{{ cupom.nome_estabelecimento }}</h2>
    <p class="descricao">{{ cupom.de_cupom }}</p>
    <p><span class="valor-original">R$ {{ cupom.vl_original }}</span> <span class="valor-desconto">R$ {{ cupom.vl_desconto }}</span></p>
    <p>Validade: {{ cupom.dt_validade | date:'dd/MM/yyyy' }}</p>
    <p>Disponíveis: {{ cupom.qt_disponivel }}</p>
    <p class="avaliacoes">Média de Avaliações: {{ cupom.media_avaliacoes || 'Não avaliado' }}</p>
  </div>
   -->

   <div class="cupom" (click)="navigateToDetail(cupom.id_cupom)">
    <div class="image-wrapper">
      <img [src]="'http://ec2-18-224-64-194.us-east-2.compute.amazonaws.com:3001/api/assets/uploads/' + cupom.url_imagem" alt="Logo do Estabelecimento">
    </div>
    <div class="details">
        <h2 class="titulo">{{ cupom.no_cupom }}</h2>
      <p class="name-establishment">{{ cupom.nome_estabelecimento }}</p>
      <p class="descricao">{{ cupom.de_cupom }}</p>
      
      <div class="rating">
        <span class="stars" [ngClass]="{ 'no-rating': !cupom.media_avaliacoes }">
          <span *ngFor="let star of [1, 2, 3, 4, 5]" [ngClass]="{ 'filled': star <= cupom.media_avaliacoes }">★</span>
        </span>
        <span class="reviews">{{ cupom.qtd_avaliacoes ? cupom.qtd_avaliacoes + ' avaliações' : 'Não avaliado' }}</span>
      </div>
      <p class="price">
        <span class="valor-original">R$ {{ cupom.vl_original }}</span>
        <span class="valor-desconto">R$ {{ cupom.vl_desconto }}</span>
      </p>
      <p class="validity">Validade: {{ cupom.dt_validade | date:'dd/MM/yyyy' }}</p>
      <p class="availability">Disponíveis: {{ cupom.qt_disponivel }}</p>
    </div>
  </div>
  