<app-menu></app-menu>
<div class="container">
    <section>
      <h2 class="my-4">Sobre a empresa Micopom</h2>
      <p><strong>Desde 2024 trazendo os melhores cupons</strong></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque elit non metus auctor aliquam. Praesent sit amet eros ac orci dignissim luctus. Suspendisse potenti. Mauris efficitur bibendum purus, eget aliquet velit facilisis at.</p>
    </section>
  </div>
<app-footer></app-footer>