<!-- <div class="content">
  <footer class="bg-dark fixed-bottom footer">
      <div>
        <p style="padding-top: 10px; text-align: center;" class="text-white">Micopom © All Rights Reserved</p>
      </div>
    </footer>
  </div> -->

<footer class="footer bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="assets/mico-img-footer.png" alt="Logo" class="img-fluid mb-2" />
        <h6 class="text-warning">Atendimento</h6>
        <p>
          <i class="fa fa-phone"></i> 11 99999-9999 <br />
          <i class="fa fa-envelope"></i> contato@micopom.com.br
        </p>
        <p>Micopom <br />00.000.000-0000</p>
      </div>
      <div class="col-md-3">
        <h6 class="text-warning">Institucional</h6>
        <ul class="list-unstyled">
          <li><a [routerLink]="['/about-micopom']" class="text-light">Sobre a empresa Micopom</a></li>
          <li><a [routerLink]="['/how-to-bye']" class="text-light">Como comprar</a></li>
          <li><a href="#" class="text-light">Segurança</a></li>
          <li><a href="#" class="text-light">Pagamento</a></li>
          <li><a href="#" class="text-light"><strong>Fale Conosco</strong></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6 class="text-warning">Redes Sociais</h6>
        <a href="#" class="text-light"><i class="fa-brands fa-facebook"></i></a><br>
        <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
        <h6 class="text-warning mt-3">Selos de Segurança</h6>
        <img src="assets/pag-icon.png.png" alt="PagSeguro" class="img-fluid mt-2"/>
      </div>
      <div class="col-md-3">
        <h6 class="text-warning">Formas de Pagamento</h6>
        <img src="assets/visa-img-icon.png" alt="Visa" class="img-fluid" />
        <img src="assets/mastercard-img-icon.png" alt="Mastercard" class="img-fluid" />
        <img src="assets/elo-img-icon.png" alt="Elo" class="img-fluid" />
        <img src="assets/pix-img-icon.png" alt="Pix" class="img-fluid" />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <small class="text-light">Micopom © All Rights Reserved</small>
      </div>
    </div>
  </div>
</footer>
