<app-menu></app-menu>
<div class="container mt-4 content-wrapper" *ngIf="coupon">
    <div class="row">
      <div class="col-md-6">
        <div id="couponCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let image of coupon.imagens; let i = index" [class.active]="i === 0">
              <img [src]="'http://ec2-18-224-64-194.us-east-2.compute.amazonaws.com:3001/api/assets/uploads/' + image" class="d-block w-100" alt="Coupon Image">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#couponCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#couponCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <h2>{{ coupon.data.no_cupom }}</h2>
        <p>{{ coupon.data.de_cupom }}</p>
        <p class="h4 text-warning">{{ coupon.data.vl_original - coupon.data.vl_desconto | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</p>
        <div class="form-group">
          <label for="quantity">Quantidade</label>
          <input type="number" id="quantity" [(ngModel)]="quantity" class="form-control" >
        </div>
        <button (click)="buyCoupon()" class="btn btn-warning btn-block">Comprar</button>
      </div>
    </div>
    <div class="mt-5">
      <h4>Descrição</h4>
      <p class="coupon-description">{{ coupon.data.de_cupom_completa }}</p>
      <h4>Avaliações de <b>{{coupon.data.nome_estabelecimento}}</b></h4>
      <div *ngFor="let review of ratings">
        <div class="review">
          <p class="reviewer-name"><strong>{{ review.no_nome_completo }}</strong></p>
          <p class="review-date">{{ review.dt_avaliacao | date:'dd/MM/yyyy' }}</p>
          <div class="rating-wrapper">
            <span class="rating">
              <span *ngFor="let star of [1, 2, 3, 4, 5]" [ngClass]="{'filled': star <= review.nu_avaliacao}">
                ★
              </span>
            </span>
          </div>
          <p class="review-comment">{{ review.de_avaliacao }}</p>
        </div>
      </div>      
    </div>

  </div>