 /* body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  transition: margin-left 0.3s;
}

.navbar {
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
}

#sidebar {
  width: 250px;
  height: 100vh;
  transition: margin-left 0.3s;
  margin-left: -250px;
  position: fixed;
  top: 56px;
  z-index: 1000;
}

#sidebar.active {
  margin-left: 0;
}

.wrapper.sidebar-open #content {
  margin-left: 260px;
}

#sidebar .components a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
}

#sidebar .components a:hover {
  background: #6d7fcc;
  text-decoration: none;
}

#content {
  width: 100%;
  padding: 20px;
  transition: margin-left 0.3s;
}

#sidebarCollapse {
  border: none;
  background: transparent;
}

.img-logo {
  height: 40px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

#sidebarCollapse .fa {
  font-size: 1.5em;
}
 */

 body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  transition: margin-left 0.3s;
}

.navbar {
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
}

#sidebar {
  width: 250px;
  height: 100vh;
  transition: margin-left 0.3s;
  margin-left: -250px;
  position: fixed;
  top: 56px; /* Alinhado abaixo do header */
  z-index: 1000;
}

#sidebar.active {
  margin-left: 0;
}

.wrapper.sidebar-open #content {
  margin-left: 250px;
}

#sidebar .components a {
  padding: 5px;
  font-size: 1.0em;
  display: block;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

#sidebar .components a:hover {
  background-color: #e4b51a;
  color: #000;
  text-decoration: none;
  border-radius: 10%;
}

#content {
  width: 100%;
  padding: 20px;
  transition: margin-left 0.3s;
}

#sidebarCollapse {
  border: none;
  background: transparent;
}

.img-logo {
  height: 40px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

#sidebarCollapse .fa {
  font-size: 1.5em;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  #sidebar {
    width: 100%;
    margin-left: -100%;
  }

  #sidebar.active {
    margin-left: 0;
  }

  .wrapper.sidebar-open #content {
    margin-left: 0;
  }

  #content {
    margin-top: 56px; /* Ajuste para o header */
  }
}


  

  
  
  