input:focus {
    outline: none;
    box-shadow: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control:hover {
    border-color: #e4b51a; 
  }
  
  .form-control:focus {
    border-color: #e4b51a;
    border-width: 2px;
  }


