<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/home"><img src="assets/mico-img-menu.png" alt="Logo" class="img-logo"/></a>


    <div class="search-container d-flex ms-2">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar itens..."
        [(ngModel)]="searchTerm"
        (keydown.enter)="onSearch()"
      />
      <button class="btn btn-warning ms-2" (click)="onSearch()">Buscar</button>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/validate-coupon">Validar Cupom</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/registro-cupom">Novo Cupom</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/registro-estabelecimento">Estabelecimento</a>
        </li>
        <li class="nav-item dropdown" *ngIf="user">
          <button class="btn btn-link nav-link" id="notificationsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bell text-white"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationsDropdown">
            <li *ngFor="let notification of notifications">
              <a class="dropdown-item custom-dropdown-item" href="#">{{ notification.message }}</a>
            </li>
            <li *ngIf="notifications.length === 0">
              <span class="dropdown-item custom-dropdown-item">Sem notificações</span>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <button class="btn btn-link nav-link" (click)="toggleCart()">
            <i class="fa fa-shopping-cart text-white"></i>
            <span *ngIf="itemCount > 0">{{ itemCount }}</span>
          </button>
        </li>
        <li *ngIf="!user" class="nav-item" routerLinkActive="active">
          <a class="btn btn-warning text-dark me-2" routerLink="/login">Login</a>
        </li>
        <li *ngIf="!user" class="nav-item" routerLinkActive="active">
          <a class="btn btn-warning text-dark" routerLink="/cadastro">Cadastro</a>
        </li>
        <li *ngIf="user" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user text-white"></i><span class="ms-2 text-white">{{user.no_nome_completo}}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <li>
              <a class="dropdown-item custom-dropdown-item" routerLink="/minha-conta">Minha Conta</a>
            </li>
            <li>
              <a class="dropdown-item custom-dropdown-item" style="cursor: pointer;" (click)="logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>




<!-- Overlay -->
<div class="overlay" *ngIf="cartOpen" (click)="closeCart()"></div>

<!-- Menu lateral do carrinho -->
<div class="cart-sidebar" [class.open]="cartOpen">
  <div class="cart-header">
    <h3>Carrinho</h3>
    <button class="close-btn" (click)="closeCart()">&times;</button>
  </div>
  <div class="cart-body">
    <ul class="cart-items">
      <li class="cart-item" *ngFor="let item of cartItems">
        <div class="item-info">
          <div class="item-details">
            <span class="item-name">{{ item.name }}</span>
            <input type="number" [(ngModel)]="item.quantity" (ngModelChange)="updateQuantity(item, item.quantity)" class="form-control item-quantity">
          </div>
          <div class="item-prices">
            <span class="item-price">{{ item.price | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</span>
            <span class="item-total">Total: {{ (item.price * item.quantity) | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</span>
          </div>
        </div>
        <button class="btn btn-link btn-sm remove-btn" (click)="removeFromCart(item)">Remover</button>
      </li>
    </ul>
  </div>
  <div class="cart-footer">
    <h4>Total do Carrinho: {{ cartTotal | currency:'BRL' }}</h4>
    <button class="btn btn-warning btn-block mt-4" routerLink="/order-summary">Finalizar Compra</button>
  </div>
</div>