
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/home"><img src="assets/micoleao3.png" alt="Logo"  class="img-logo"/></a>
    <div class="dropdown ms-2">
      <button class="btn btn-warning dropdown-toggle text-dark" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Categorias
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li *ngFor="let Categorias of categorias">
          <a  class="dropdown-item" >{{ Categorias.no_categoria }}</a>
        </li>
      </ul>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/registro-cupom">Novo Cupom</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/registro-estabelecimento">Estabelecimento</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-link nav-link" (click)="toggleCart()">
            <i class="fa fa-shopping-cart text-white"></i>
          </button>
        </li>
        <li *ngIf="!user" class="nav-item" routerLinkActive="active">
          <a class="btn btn-warning text-dark me-2" routerLink="/login">Login</a>
        </li>
        <li *ngIf="!user" class="nav-item" routerLinkActive="active">
          <a class="btn btn-warning text-dark" routerLink="/cadastro">Cadastro</a>
        </li>
        <li *ngIf="user"  class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/minha-conta">Olá, {{user.no_nome_completo}}</a>
        </li>
        <li *ngIf="user" class="nav-item" routerLinkActive="active">
          <a class="btn btn-warning text-dark" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Overlay -->
<div class="overlay" *ngIf="cartOpen" (click)="closeCart()"></div>

<!-- Menu lateral do carrinho -->
<div class="cart-sidebar" [class.open]="cartOpen">
  <div class="cart-header">
    <h3>Carrinho</h3>
    <button class="close-btn" (click)="closeCart()">&times;</button>
  </div>
  <div class="cart-body">
    <ul class="cart-items">
      <li class="cart-item" *ngFor="let item of cartItems">
        <div class="item-info">
          <div class="item-details">
            <span class="item-name">{{ item.name }}</span>
            <input type="number" [(ngModel)]="item.quantity" (ngModelChange)="updateQuantity(item, item.quantity)" class="form-control item-quantity">
          </div>
          <div class="item-prices">
            <span class="item-price">{{ item.price | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</span>
            <span class="item-total">Total: {{ (item.price * item.quantity) | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</span>
          </div>
        </div>
        <button class="btn btn-link btn-sm remove-btn" (click)="removeFromCart(item)">Remover</button>
      </li>
    </ul>
  </div>
  <div class="cart-footer">
    <h4>Total do Carrinho: {{ cartTotal | currency:'BRL' }}</h4>
    <button class="btn btn-warning btn-block">Finalizar Compra</button>
  </div>
</div>

<!-- Menu lateral do carrinho -->
<!-- <div class="cart-sidebar" [class.open]="cartOpen">
  <div class="cart-header">
    <h3>Carrinho</h3>
    <button class="close-btn" (click)="closeCart()">&times;</button>
  </div>
  <div class="cart-body">
    <ul class="cart-items">
      <li class="cart-item" *ngFor="let item of cartItems">
        <div class="item-info">
          <div class="item-details">
            <span class="item-name">{{ item.name }}</span>
            <input type="number" [(ngModel)]="item.quantity" (ngModelChange)="updateQuantity(item, item.quantity)" class="form-control item-quantity">
          </div>
          <div class="item-prices">
            <span class="item-price">{{ item.price | currency:'BRL' }}</span>
            <span class="item-total">Total: {{ (item.price * item.quantity) | currency:'BRL' }}</span>
          </div>
        </div>
        <button class="btn btn-link btn-sm remove-btn" (click)="removeFromCart(item)">Remover</button>
      </li>
    </ul>
  </div>
  <div class="cart-footer">
    <h4>Total do Carrinho: {{ cartTotal | currency:'BRL' }}</h4>
    <button class="btn btn-primary btn-block">Finalizar Compra</button>
  </div>
</div> -->